.resources__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 101.76px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0 0 20px 0;
    text-align: left;
    max-width: 822px;
}

@media screen and (max-width: 550px) {
    .resources__title {
        font-size: 40px;
        line-height: 42.4px;
    }
  }
