.popup__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color:rgba(68, 68, 68, 1);
    padding: 0;
    margin: 0 auto 20px;
    text-align: center;
    width: 345px;
}

@media screen and (max-width: 550px) {
    .popup__subtitle {
        font-size: 20px;
        line-height: 24px;
        width: 295px;
    }
  }