.scroll {
    position: relative;
    height: 100vh; 
    overflow: auto; 
    margin: 0 auto 100px;
    max-height: 636px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }