.popup__container_type_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 24, 24, 1);
    border-radius: 0;
}

@media screen and (max-width: 550px) {
    .popup__container_type_menu {
        width: 100vw;
        height: 100vh;
    }
}