.footer__row_content_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 57px;
    margin: 0 0 30px;
}

@media screen and (max-width: 1270px) {
    .footer__row_content_info {
        flex-direction: column;
        height: 539px;
        margin: 0 0 40px;
    }
  }