.footer__autor {
    margin: 20px 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
    color: rgba(185, 185, 185, 1);
    padding: 0;
}

@media screen and (max-width: 1270px) {
    .footer__autor {
        margin: 10px 0 0;
        line-height: 21px;
    }
  }