.resources__text {
    font-weight: 700;
    font-size: 64px;
    line-height: 67.84px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 60px auto 0;
    text-align: center;
}


@media screen and (max-width: 550px) {
    .resources__text {
        font-size: 40px;
        line-height: 42.4px;
        margin: 40px auto 0;
    }
  }
