.contact-button {
    background-color: rgba(149, 76, 237, 1); 
    height: 57px; 
    width: 182px;
    margin: 0; 
    border-radius: 16px; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 25.2px; 
    text-align: center; 
    color: rgba(255, 255, 255, 1); 
    padding: 0;
}

.contact-button:hover {
    background-color: rgba(149, 76, 237, 0.2);
    border: rgba(149, 76, 237, 1) 2px solid;
}

.contact-button:focus {
    background-color: transparent;
    border: rgba(149, 76, 237, 1) 2px solid;
}

.contact-button:disabled {
    background-color: black;
    border: rgba(185, 185, 185, 1) 2px solid;
    color: rgba(185, 185, 185, 1); 
}