.popup__links {
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 10px 40px 20px;
    text-align: left;
}

@media screen and (max-width: 550px) { 
    .popup__links { 
        margin: 10px 16px 20px;
    } 
  } 