.header {
    width: calc (100vw - 38px);
    padding: 0 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(255, 170, 76, 1);
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    .header {
    max-width: calc (100vw - 48px);
    margin: 0;
    }
  }

  @media screen and (max-width: 455px) {
    .header {
    padding: 0;
    justify-content: center;
    }
  }