.popup__cookie-button {
    border-radius: 16px; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 25.2px; 
    text-align: center;
    background-color: rgba(149, 76, 237, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0;
    height: 57px;
}