.cards__item_theme_white {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 30px;
    max-width: 547px;
    width: 100%;
    height: 362px;
    margin: 0 0 20px;
    position: relative;
}
