.about__image {
    background-size: cover;
    background-position: center;
    max-width: 423px;
    margin: 0 165px 0 0;
}

@media screen and (max-width: 1328px) {
    .about__image {
        margin: 0 20px 0 0;
    }
  }

  
@media screen and (max-width: 1090px) {
    .about__image {
        display: none;
    }
  }