.resources__icon_position_top {
    margin: 0 130px 0 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1160px) {
    .resources__icon_position_top {
        margin: 0 110px 0 0;
    }
  }
