.cards__image_theme_white_n_3 {
    position: absolute;
    right: 60px;
    bottom: 0;
    width: 93px;
    height: 86px;
    background-size: cover;
    margin: 0;
  }
  
  @media screen and (max-width: 620px) {
    .cards__image_theme_white_n_3 {
      left: 135px;
      bottom: 0;
    }
  }
