.table {
    margin: 0 auto;
    width: 851px;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    justify-content: space-between;
}


@media screen and (max-width: 1000px) {
    .table {
        justify-content: center;
    }
  }

  @media screen and (max-width: 840px) {
    .table {
        flex-direction: column;
        justify-content: space-between;
    }
  }
