.choice__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 67.84px;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0 auto 20px;
    text-align: center;
}

@media screen and (max-width: 620px) {
    .choice__title {
        font-size: 40px;
        line-height: 42.4px;
    }
  }
