.resources__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 51px 100px;
}

@media screen and (max-width: 1180px) {
    .resources__links {
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: 30px;
    }
  }

  @media screen and (max-width: 900px) {
    .resources__links {
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 30px;
    }
  }

  @media screen and (max-width: 590px) {
    .resources__links {
        margin: 0 20px 90px;
        grid-template-rows: repeat(2, 43px);
    }
  }