.resources__icon-zone {
    display: flex;
    flex-direction: column;
    width: 473px;
    justify-content: center;
    margin: 0 0 0 33px;
}
@media screen and (max-width: 1160px) {
    .resources__icon-zone {
        margin: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .resources__icon-zone {
        width: 348px;
    }
  }
