.table__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0 auto 0;
    text-align: left;
    }

    @media screen and (max-width: 840px) {
        .table__text {
          margin: 0;
          font-size: 20px;
          line-height: 25.2px;
          align-self: center;
          white-space: nowrap;
        }
      }