.contact-button_place_popup {
    margin: 20px 155px 0 0;
}

@media screen and (max-width: 550px) { 
    .contact-button_place_popup { 
      width: 303px; 
      margin: 0;
    } 
  } 

  .contact-button_place_popup:hover {
    background-color: black;
}

.contact-button_place_popup:focus {
    background-color: rgba(149, 76, 237, 1);
    border: rgba(186, 139, 243, 1) 2px solid;
}

.contact-button_place_popup:disabled {
    background-color: rgba(185, 185, 185, 1);
    color:rgba(255, 255, 255, 1);
}