.contact-button_place_popup {
    margin: 20px 155px 0 0;
}

@media screen and (max-width: 550px) { 
    .contact-button_place_popup { 
      max-width: 303px; 
      margin: 0;
    } 
  } 

  .contact-button_place_popup:hover { 
    opacity: 0.8; 
  } 
  
  .contact-button_place_popup:disabled { 
    background-color: rgba(185, 185, 185, 1); 
  }   