.slider__point {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}