.popup__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.16px;
    color: rgba(236, 18, 17, 1);
    padding: 0;
    margin: 10px 40px 0;
    text-align: left;
    visibility: hidden;
}

@media screen and (max-width: 550px) { 
    .popup__text { 
        margin: 10px 16px 20px;
    } 
  } 